*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --blue:#247BA0;
  --grey: #605F5E;
  --dark-blue:#0A2463;
}
body{
  display: grid;
  height: 100vh;
  gap: 20px;
  grid-template-rows: 1fr 10fr;
}
.header{
  background-color: var(--dark-blue) ;
  color: var(--grey);
  text-align: center;
  padding-top: 20px;
}
.content{
  text-align: center;
  width: 300px;
  justify-self: center;
  align-self: center;
}
.gameboard{
  display: grid;
  grid-template: repeat(3,100px)/repeat(3,100px);
  margin: 10px 0px;
  align-self: center;
}
.gameboard-div{
  border: 1px solid var(--blue);
  font-size: 100px;
  text-align: center;
}
.inputs{
  display: grid;
  gap: 4px;
  grid-template-rows: 20px 20px;
  margin-bottom: 10px;
}