*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --blue:#00A1E4;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
}
.gameboard{
  display: grid;
  grid-template: repeat(3,100px)/repeat(3,100px);
}
.gameboard-div{
  border: 1px solid var(--blue);
  font-size: 100px;
  text-align: center;
}
.input{
  display: grid;
  gap: 40px;
  grid-template-rows: 40px 40px;
}